block css
    link(rel="stylesheet", href="/stylesheets/back/accueil.css")

footer.pt-4.my-md-5.pt-md-5.border-top
  #accueil.row.d-flex.justify-content-center
      small Copyright © 2018 - Wild Code School - Tous droits réservés