nav#accueil
  ul.nav.flex-column
    li.nav-item
      a.nav-link.active(href='/backoffice')
        img.logo(src="/uploads/logoMlleFle.png", alt="Logo du site Mademoiselle FLE")
    li.nav-item
      a.nav-link.active(href='/backoffice')
        span.fas.fa-home
        span.title Accueil
    li.nav-item
      a.nav-link.active(href='/backoffice/units')
        span.fas.fa-edit
        span.title Unités
    li.nav-item
      a.nav-link.active(href='/backoffice/exercices')
        span.fas.fa-pencil-alt
        span.title Exercices
    li.nav-item
      a.nav-link.active(href='/backoffice/agenda')
        span.fas.fa-calendar-alt
        span.title Planning
    li.nav-item
      a.nav-link.active(href='/backoffice/orders')
        span.fas.fa-shopping-cart
        span.title Commandes
    li.nav-item
      a.nav-link.active(href='/backoffice/feedbacks')
        span.fas.fa-clipboard-list
        span.title Feedbacks
    li.nav-item
      a.nav-link.active(href='/backoffice/temoignages')
        span.fas.fa-comments
        span.title Avis
    li.nav-item
      a.nav-link.active(href='/backoffice/users')
        span.fas.fa-users
        span.title Users
    li.nav-item
      a.nav-link.active(href="/backoffice/admin/1")
        span.fas.fa-user
        span.title Admin