extends ../layout

block content
   div#ExoCheck
        .row.mx-auto
            .col-md-12.pt-2.pb-5
                .card.border-light
                    .card-body 
                        h3 Liste des exercices de type checkbox
                    
                        a.btn.btn-info.mb-4(role='button', href='/backoffice/exercices/creationCheckbox') Création d'un nouvel exercice

                        table.table.table-hover
                            thead
                                tr
                                    th(scope='col') Id
                                    th(scope='col') Titre
                                    th(scope='col') Niveau
                                    th(scope='col') Unité liée
                                    th(scope='col') Style de l'exercice
                                    th(scope='col') Modification
                                    th(scope='col') Suppression
                            tbody
                                tr  

                            //A MODIFIER    
                                    td(scope='row') 1
                                    td Exercice sur les 'ans'
                                    td Unité ans 
                                    td Style exercice 1
                                    td 
                                        a.badge.badge-warning.py-1(href=`/exercice/modifierCheckbox` role='button') Modification
                                    td
                                        a.badge.badge-danger.py-1(href=`/exercice/supprimerCheckbox` role='button') Suppression
